<div class="justify-self-center">
  <h2 class="text-3xl font-semibold text-green-900">Forgot your password?</h2>

  <%= form_with scope: resource_name, url: password_path(resource_name), method: :post, class: "mt-5", local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-green-900 rounded-sm focus:outline-2 focus:outline-offset-4 focus:outline-green-900 focus:border-0" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me instructions", class: "mt-2 bg-green-600 text-white p-2 rounded-xl shadow
              hover:bg-green-700 hover:shadow-lg transition-all duration-200" %>
    </div>
  <% end %>

  <div class="mt-5">
    <%= render "devise/shared/links" %>
  </div>
</div>
