<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.csshttps://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true, type: "module" %>

  </head>

  <body>
    
    <div class="w-1/3">

    </div>
    <%= render partial: "admin/share/side_bar" %>
    <div class="w-2/3 container ps-20 pt-20 sm:ml-64">
      <%= yield %>
    </div>    
  </body>
</html>
